hr{
  margin: 5px 0 5px 0;
}

div.parsys_column{
  border: none;
  float: left;
  height: 100%;
  vertical-align: top;
  width: 100%
}

div.cq-colctrl-lt5 {
  margin: 0em;
  padding: 0;
}

div.cq-colctrl-lt5-c0 {
  width: 33%;
  margin-right: 0.5em;
}

div.cq-colctrl-lt5-c1 {
  width: 61%;
}
