@import 'partials/nav';
@import 'partials/vault-home';
@import 'partials/step1';

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  @include center-block;
}

