@import 'partials/nav';
@import 'partials/step1';

.block.small.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .container-fluid {
//   margin-left: auto;
//   margin-right: auto;
// }

