%a.btn.btn-navbar{:data => {:toggle => "collapse", :target=> ".nav-collapse"}}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to "Workout Zenith", root_path, :class => 'brand'
.nav-collapse
  %ul.nav
    %li.active
      %a{:href=>"#"} Home
    %li.dropdown
      %a.dropdown-toggle{:href=>"#", :data =>{:toggle=>"dropdown"}}
        Vault
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href=>"#vault/new"}New
        %li
          %a{:href=>"#vault/home"}Home
    %li
      %form.navbar-search.pull-left
        %input.search-query.span2{:type=>"text",:placeholder=>"search"}

  %i.topbar-divider
  .pull-right
    %ul.nav    
      %li.dropdown
        %a.dropdown-toggle{:href=>"#", :data =>{:toggle=>"dropdown"}}
          Account
        %ul.dropdown-menu
          %li
            %a{:href=>"#"}Account
            %b.caret
          %li.dropdown-divider
          %li
            %a{:href=>"#"}Sign Out 
  
